# ───── App Settings ─────
ENVIRONMENT=development
SECRET_KEY=supersecretkey

# ───── Auth Settings ─────
GOOGLE_AUTH_CLIENT_ID=your-google-client-id
GOOGLE_AUTH_SECRET=your-google-client-secret

# ───── Telemetry Settings ─────
POST_HOG_API_KEY=your-posthog-api-key

# ───── Database Settings ─────
DB_PASSWORD=strongpassword

# ───── Redis Settings ─────
REDIS_PASSWORD=redispassword

# ───── AWS / S3 Settings ─────
AWS_ACCESS_KEY=AWS_ACCESS_KEY_EXAMPLE
AWS_SECRET_ACCESS_KEY=AWS_SECRET_KEY_EXAMPLE

